.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.fonts150 {
  font-size: 150%;
}

.fonts120 {
  font-size: 120%;
}

.banner {
  height: 10rem;
  padding-top: 1rem;
  border-bottom: 1px solid #666;
  margin-bottom: 3rem;
  background: url("../images/trees-base.jpg") no-repeat scroll 50% 50% / cover;
  background-attachment: fixed;
}

.banner h1 {
  font-size: 3.0rem;
  font-family: 'Arial', sans-serif;
  margin-bottom: 0rem;
}

@media (min-width: 550px) {
  .banner h1{
    font-size: 3.6rem;
  }
}

.banner a, .banner h1, .banner h6 {
  color: #111;
  text-decoration: none;
}

.banner a:hover {
  color: #444;
}

.blog {
  color: #444;
}

.blog a {
  color: #05A;
  text-decoration: underline;
}

.blog a:hover {
  color: #444;
  text-decoration: none;
}

.blog .post-date {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 70%;
  color: #999;
}

.blog .post-meta{
  color: #222;
}

.blog hr {
  border-color: #444;
}

.blog .related {
  border-top: 1px dashed #CCC;
  padding: 1rem;
}

.blog .post-list {
  font-size: 150%;
}

.blog .post {
  font-size: 120%;
}

.blog .archives, .blog .categories {
  font-size: 120%;
}

.blog .indent-block {
  margin: 0 0 0 1rem;
}

.blog blockquote {
  padding-left: 1rem;
  border-left: 0.5rem solid #ccc;
}
