body {
    background-color: #ddd;
}

.font-comfortaa {
    font-family: 'Comfortaa', cursive;
}

.font-baskerville {
    font-family: Baskerville, Baskerville Old Face, Times New Roman,serif;
}

.font-avant-garde {
    font-family: Avant Garde, Avantgarde, AppleGothic, sans-serif;
}

.font-monaco {
    font-family: Monaco, 'Courier New', monospace;
}

.font-neuton {
    font-family: 'Neuton', sans-serif;
}
